.shg-box {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  /**
   * While `flex: 1` is enough here, we need to supply the rest
   * of the parameters (`1 auto`) to keep compatibility with IE11.
   * Otherwise, IE11 flex would break.
   */
  flex: 1 1 auto;
}

.shg-box > .shg-box-content {
  z-index: 4;
  position: relative;
  /**
   * This is part of an IE11 fallback to avoid flex introducing
   * huge amount of weird space on the bottom on the section element.
   */
  min-height: 1px;
}

.shg-box-vertical-align-wrapper, .shg-box-vertical-center-wrapper {
  display: flex;
  width: 100%;
}

.shg-box-vertical-align-top {
  justify-content: flex-start;
}

.shg-box-vertical-align-center, .shg-box-vertical-center {
  justify-content: center;
}

.shg-box-vertical-align-bottom {
  justify-content: flex-end;
}

.shg-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  pointer-events: none;
}

.shg-box-video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

#s-cc72b2cd-f83f-4772-9e10-584ca78e9f0e {
  min-height: 50px;
}








#s-cc72b2cd-f83f-4772-9e10-584ca78e9f0e > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}#s-cc72b2cd-f83f-4772-9e10-584ca78e9f0e.shg-box.shg-c {
  justify-content: center;
}

.shg-row {
  display: flex;
  flex-wrap: wrap;
  min-height: inherit;
  max-height: inherit;
justify-content: space-between;
}

.shg-row > * {
  min-height: inherit;
  max-height: inherit;
}

.shg-c-xs-1,
.shg-c-xs-2,
.shg-c-xs-3,
.shg-c-xs-4,
.shg-c-xs-5,
.shg-c-xs-6,
.shg-c-xs-7,
.shg-c-xs-8,
.shg-c-xs-9,
.shg-c-xs-10,
.shg-c-xs-11,
.shg-c-xs-12,
.shg-c-sm-1,
.shg-c-sm-2,
.shg-c-sm-3,
.shg-c-sm-4,
.shg-c-sm-5,
.shg-c-sm-6,
.shg-c-sm-7,
.shg-c-sm-8,
.shg-c-sm-9,
.shg-c-sm-10,
.shg-c-sm-11,
.shg-c-sm-12,
.shg-c-md-1,
.shg-c-md-2,
.shg-c-md-3,
.shg-c-md-4,
.shg-c-md-5,
.shg-c-md-6,
.shg-c-md-7,
.shg-c-md-8,
.shg-c-md-9,
.shg-c-md-10,
.shg-c-md-11,
.shg-c-md-12,
.shg-c-lg-1,
.shg-c-lg-2,
.shg-c-lg-3,
.shg-c-lg-4,
.shg-c-lg-5,
.shg-c-lg-6,
.shg-c-lg-7,
.shg-c-lg-8,
.shg-c-lg-9,
.shg-c-lg-10,
.shg-c-lg-11,
.shg-c-lg-12 {
  position: relative;
}

#s-db7f0f79-91ac-4cfd-8169-30c6079e813e {
  margin-top: 50px;
margin-bottom: 50px;
background-color: rgba(0, 2, 1, 0);
}

@media (min-width: 0px) {
[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-xs-1 {
  width: calc(8.333333333333334% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-xs-2 {
  width: calc(16.666666666666668% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-xs-3 {
  width: calc(25.0% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-xs-4 {
  width: calc(33.333333333333336% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-xs-5 {
  width: calc(41.66666666666667% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-xs-6 {
  width: calc(50.0% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-xs-7 {
  width: calc(58.333333333333336% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-xs-8 {
  width: calc(66.66666666666667% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-xs-9 {
  width: calc(75.0% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-xs-10 {
  width: calc(83.33333333333334% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-xs-11 {
  width: calc(91.66666666666667% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-xs-12 {
  width: calc(100.0% - 20.0px);
}

}

@media (min-width: 768px) {
[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-sm-1 {
  width: calc(8.333333333333334% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-sm-2 {
  width: calc(16.666666666666668% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-sm-3 {
  width: calc(25.0% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-sm-4 {
  width: calc(33.333333333333336% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-sm-5 {
  width: calc(41.66666666666667% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-sm-6 {
  width: calc(50.0% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-sm-7 {
  width: calc(58.333333333333336% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-sm-8 {
  width: calc(66.66666666666667% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-sm-9 {
  width: calc(75.0% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-sm-10 {
  width: calc(83.33333333333334% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-sm-11 {
  width: calc(91.66666666666667% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-sm-12 {
  width: calc(100.0% - 20.0px);
}

}

@media (min-width: 992px) {
[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-md-1 {
  width: calc(8.333333333333334% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-md-2 {
  width: calc(16.666666666666668% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-md-3 {
  width: calc(25.0% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-md-4 {
  width: calc(33.333333333333336% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-md-5 {
  width: calc(41.66666666666667% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-md-6 {
  width: calc(50.0% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-md-7 {
  width: calc(58.333333333333336% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-md-8 {
  width: calc(66.66666666666667% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-md-9 {
  width: calc(75.0% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-md-10 {
  width: calc(83.33333333333334% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-md-11 {
  width: calc(91.66666666666667% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-md-12 {
  width: calc(100.0% - 20.0px);
}

}

@media (min-width: 1200px) {
[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-lg-1 {
  width: calc(8.333333333333334% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-lg-2 {
  width: calc(16.666666666666668% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-lg-3 {
  width: calc(25.0% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-lg-4 {
  width: calc(33.333333333333336% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-lg-5 {
  width: calc(41.66666666666667% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-lg-6 {
  width: calc(50.0% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-lg-7 {
  width: calc(58.333333333333336% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-lg-8 {
  width: calc(66.66666666666667% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-lg-9 {
  width: calc(75.0% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-lg-10 {
  width: calc(83.33333333333334% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-lg-11 {
  width: calc(91.66666666666667% - 20.0px);
}

[id="s-db7f0f79-91ac-4cfd-8169-30c6079e813e"] > .shg-row > .shg-c-lg-12 {
  width: calc(100.0% - 20.0px);
}

}

.shg-rich-text {
  overflow-wrap: break-word;
}

.shg-rich-text img {
  margin: 0 20px;
}

@media (max-width: 768px) {
  .shg-rich-text img {
    display: block;
    float: none !important;
    margin: 0 auto;
  }
}

.shg-default-text-content *:first-child {
  margin-top: 0;
}

.shg-default-text-content {
  text-align: left;
}

.shg-default-text-content p,
.shg-default-text-content h1,
.shg-default-text-content h2,
.shg-default-text-content h3,
.shg-default-text-content h4,
.shg-default-text-content h5,
.shg-default-text-content h6,
.shg-default-text-content address,
.shg-default-text-content pre,
.shg-default-text-content div,
.shg-default-text-content ol,
.shg-default-text-content ul {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #000000;
  font-family: inherit;
  font-style: normal;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  text-transform: none;
}

.shg-default-text-content a {
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-style: inherit;
  text-decoration: underline;
  text-transform: inherit;
}

.shg-default-text-content strong,
.shg-default-text-content em {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-align: inherit;
  text-transform: inherit;
}

.shg-default-text-content em {
  font-weight: inherit;
}

.shg-default-text-content strong {
  font-style: inherit;
  font-weight: 700;
}

/* https://stackoverflow.com/a/16094931/3696652 */
.shg-default-text-content ::-moz-selection, .shg-default-text-content *::-moz-selection {
  background: #accef7;
}
.shg-default-text-content ::selection,
.shg-default-text-content *::selection {
  background: #accef7;
}

.shg-default-text-content p {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.714;
  margin-top: 0.6em;
}

.shg-default-text-content h1 {
  font-size: 1.714em;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.166;
  margin-top: 0.67em;
}

.shg-default-text-content h2 {
  font-size: 1.43em;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.2;
  margin-top: 0.83em;
}

.shg-default-text-content h3 {
  font-size: 1.142em;
  font-weight: 500;
  letter-spacing: -0.008em;
  line-height: 1.5;
  margin-top: 1em;
}

.shg-default-text-content h4 {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: -0.006em;
  line-height: 1.428;
  margin-top: 1.33em;
}

.shg-default-text-content h5 {
  font-size: 0.857em;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 1.333;
  margin-top: 1.43em;
}

.shg-default-text-content h6 {
  font-size: 0.785em;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 1.454;
  margin-top: 1.42em;
  text-transform: uppercase;
}

.shg-default-text-content ul {
  list-style: disc;
}

.shg-default-text-content ol {
  list-style: decimal;
}

.shg-default-text-content ul,
.shg-default-text-content ol {
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  margin-bottom: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  margin-top: 0;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.shg-default-text-content li {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1;
  list-style: inherit;
  margin-top: 0.67em;
}

.shg-default-text-content pre {
  font-family: monospace;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.714;
  margin-top: 1em;
  white-space: pre-wrap;
  word-break: normal;
}

.shg-default-text-content address {
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.714;
  margin-top: 0;
}

.shg-default-text-content div {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.714;
  margin-bottom: 0;
  margin-top: 0.67em;
}

#s-960459a9-1ebb-454c-90ff-710b0ef01a6c {
  margin-top: 15px;
margin-bottom: 15px;
}

#s-1d24832a-6084-48df-93fd-78793df68bc6 {
  margin-top: -22px;
}

#s-d392cb66-3b96-4ae2-a02f-3ddfab929f81 {
  margin-top: 15px;
}

#s-9d2efa21-434c-4523-b1b2-dca21bdb30ee {
  margin-top: -5px;
margin-bottom: 10px;
}

#s-a3aa212f-8f6a-4676-a0b7-3dc3cb33e129 {
  margin-top: 15px;
margin-bottom: 10px;
}

#s-811dadba-3e06-4a19-a2f4-bff366f533cc {
  margin-top: -10px;
margin-bottom: -10px;
min-height: 0px;
}

.shogun-heading-component h1,
.shogun-heading-component h2,
.shogun-heading-component h3,
.shogun-heading-component h4,
.shogun-heading-component h5,
.shogun-heading-component h6 {
  margin: 0;
  padding: 0;
  display: block;
  color: #000;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.shogun-heading-component a {
  text-decoration: none !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

#s-d6f93103-d927-4250-b3c1-88c66a47f6b0 {
  margin-top: -15px;
margin-bottom: 15px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}

#s-d6f93103-d927-4250-b3c1-88c66a47f6b0 .shogun-heading-component h1 {
  color: #000;
  font-weight:   ;
  font-family: ;
  font-style:   ;
  font-size: 32px;
  line-height: ;
  letter-spacing: ;
  text-align: center;
}



.shogun-accordion-wrapper .shogun-accordion {
  margin-bottom: 0;
  border-radius: 4px;
}

.shogun-accordion {
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.shogun-accordion-wrapper .shogun-accordion + .shogun-accordion {
  margin-top: 5px;
}

.shogun-accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.shogun-accordion-heading {
  color: #333;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
}

.shogun-accordion-title {
  margin: 0 !important;
  padding: 0 !important;
  cursor: pointer;
  text-decoration: none;
  flex: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.shogun-accordion-body {
  display: none;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.shogun-accordion-body.shogun-accordion-active {
  display: block;
  opacity: 1;
  visibility: visible;
}

.shogun-accordion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.2em;
}

.shogun-accordion-icon > span {
  transition: 0.3s transform;
  position: absolute;
  right: 0;
  font-size: 1.2em;
}

.shogun-accordion-icon.shogun-icon-chevron > span::after {
  content: "▸";
}

.shogun-accordion.shogun-accordion-active
  > .shogun-accordion-heading
  .shogun-accordion-icon.shogun-icon-chevron
  > span {
  transform: rotate(90deg);
}

.shogun-accordion-icon.shogun-icon-plus > span::after {
  content: "＋";
}

.shogun-accordion.shogun-accordion-active
  > .shogun-accordion-heading
  .shogun-accordion-icon.shogun-icon-plus
  > span {
  transform: rotate(-225deg);
}

#s-3cd23b6d-9010-4545-b501-6d10d62edde9 {
  margin-left: auto;
margin-right: auto;
}

#s-3cd23b6d-9010-4545-b501-6d10d62edde9 > .shogun-accordion-wrapper > .shogun-accordion {
  border: 1px solid #ddd;
}

#s-3cd23b6d-9010-4545-b501-6d10d62edde9 > .shogun-accordion-wrapper > .shogun-accordion > .shogun-accordion-heading {
  background: #f5f5f5;
  padding: 10px;
}

#s-3cd23b6d-9010-4545-b501-6d10d62edde9 > .shogun-accordion-wrapper > .shogun-accordion > .shogun-accordion-heading > .shogun-accordion-header > .shogun-accordion-icon > span {
  color: rgba(0, 0, 0, 1);
}

#s-3cd23b6d-9010-4545-b501-6d10d62edde9 > .shogun-accordion-wrapper > .shogun-accordion > .shogun-accordion-body {
  background-color: #fff;
  border-top: 1px solid #ddd;
}

#s-3cd23b6d-9010-4545-b501-6d10d62edde9 > .shogun-accordion-wrapper > .shogun-accordion > .shogun-accordion-heading > .shogun-accordion-header > .shogun-accordion-title {
  color: rgba(0, 0, 0, 1);
  text-align: left;
  font-family: ;
  font-weight: ;
  font-style: ;
  font-size: 16px;
}

#s-3cd23b6d-9010-4545-b501-6d10d62edde9 > .shogun-accordion-wrapper > .shogun-accordion > .shogun-accordion-heading .shogun-accordion-icon {
  font-size: 16px;
}
#s-e7320f51-3764-402f-986c-f5e841b66bbb {
  margin-left: 5px;
margin-right: 5px;
}

#s-80cf6952-5593-497c-9b67-1b11da4510e1 {
  margin-left: 5px;
margin-right: 5px;
}

#s-40d0b88c-8634-41a8-b565-e6e48448adde {
  margin-left: 5px;
margin-right: 5px;
}

#s-1e98491b-a620-42f0-be28-925d2fe46188 {
  margin-left: 5px;
margin-right: 5px;
}

#s-a67df5f2-eb77-4a4e-8b51-f881e9cccec6 {
  margin-left: 5px;
margin-right: 5px;
}

#s-d3cf801e-917a-42ff-9d02-7ba048dfacb4 {
  margin-left: 5px;
margin-right: 5px;
}

#s-90c82778-94ef-447d-a1f2-74fbd7f3dc46 {
  margin-left: 5px;
margin-right: 5px;
}

#s-29e68c61-3cd7-4f7b-b1d4-f3ada9bd8377 {
  min-height: 50px;
}








#s-29e68c61-3cd7-4f7b-b1d4-f3ada9bd8377 > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}#s-29e68c61-3cd7-4f7b-b1d4-f3ada9bd8377.shg-box.shg-c {
  justify-content: center;
}

@media (min-width: 0px) {
[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-xs-1 {
  width: calc(8.333333333333334% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-xs-2 {
  width: calc(16.666666666666668% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-xs-3 {
  width: calc(25.0% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-xs-4 {
  width: calc(33.333333333333336% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-xs-5 {
  width: calc(41.66666666666667% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-xs-6 {
  width: calc(50.0% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-xs-7 {
  width: calc(58.333333333333336% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-xs-8 {
  width: calc(66.66666666666667% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-xs-9 {
  width: calc(75.0% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-xs-10 {
  width: calc(83.33333333333334% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-xs-11 {
  width: calc(91.66666666666667% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-xs-12 {
  width: calc(100.0% - 20.0px);
}

}

@media (min-width: 768px) {
[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-sm-1 {
  width: calc(8.333333333333334% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-sm-2 {
  width: calc(16.666666666666668% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-sm-3 {
  width: calc(25.0% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-sm-4 {
  width: calc(33.333333333333336% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-sm-5 {
  width: calc(41.66666666666667% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-sm-6 {
  width: calc(50.0% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-sm-7 {
  width: calc(58.333333333333336% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-sm-8 {
  width: calc(66.66666666666667% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-sm-9 {
  width: calc(75.0% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-sm-10 {
  width: calc(83.33333333333334% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-sm-11 {
  width: calc(91.66666666666667% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-sm-12 {
  width: calc(100.0% - 20.0px);
}

}

@media (min-width: 992px) {
[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-md-1 {
  width: calc(8.333333333333334% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-md-2 {
  width: calc(16.666666666666668% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-md-3 {
  width: calc(25.0% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-md-4 {
  width: calc(33.333333333333336% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-md-5 {
  width: calc(41.66666666666667% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-md-6 {
  width: calc(50.0% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-md-7 {
  width: calc(58.333333333333336% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-md-8 {
  width: calc(66.66666666666667% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-md-9 {
  width: calc(75.0% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-md-10 {
  width: calc(83.33333333333334% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-md-11 {
  width: calc(91.66666666666667% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-md-12 {
  width: calc(100.0% - 20.0px);
}

}

@media (min-width: 1200px) {
[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-lg-1 {
  width: calc(8.333333333333334% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-lg-2 {
  width: calc(16.666666666666668% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-lg-3 {
  width: calc(25.0% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-lg-4 {
  width: calc(33.333333333333336% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-lg-5 {
  width: calc(41.66666666666667% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-lg-6 {
  width: calc(50.0% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-lg-7 {
  width: calc(58.333333333333336% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-lg-8 {
  width: calc(66.66666666666667% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-lg-9 {
  width: calc(75.0% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-lg-10 {
  width: calc(83.33333333333334% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-lg-11 {
  width: calc(91.66666666666667% - 20.0px);
}

[id="s-d90c542f-6bb7-40b4-8fbd-741c1610eacc"] > .shg-row > .shg-c-lg-12 {
  width: calc(100.0% - 20.0px);
}

}

#s-0eeeb823-8ab9-4300-8335-b30a14385029 {
  margin-left: 10px;
}

#s-735fe82d-7d80-4358-8e54-a4a6f1059f91 {
  margin-top: 5px;
}

#s-a5c11222-3f8a-491c-a625-59f7e60fb80e {
  margin-top: -15px;
margin-bottom: -15px;
}

/*
  $vgutter : 20px
  $hgutter : 10px;
*/

.shg-c:before,
.shg-c:after {
  content: " ";
  display: table;
}

/**
  Ref:
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
  https://dnf.slack.com/archives/C0514HB79/p1538741509000100
**/
.shogun-root {
  z-index: 1;
  position: relative;
  isolation: isolate;
}

.shogun-root iframe {
  display: initial;
}

@media (max-width: 1024px) {
  .shg-c,
  .shg-box {
    background-attachment: scroll !important;
  }
}

#mc_embed_signup .clear {
  width: auto !important;
  height: auto !important;
  visibility: visible !important;
}

.shg-clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.shogun-image {
  max-width: 100%;
  min-height: inherit;
  max-height: inherit;
  display: inline !important;
  border: 0;
  vertical-align: middle;
}

.shg-fw {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.shg-fw .shg-fw {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

div[data-shg-lightbox-switch] {
  cursor: pointer;
}

.shg-lightbox {
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.85);
}

.shg-lightbox.hidden {
  display: none !important;
}

.shg-lightbox .shg-lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

.shg-lightbox .shg-lightbox-close {
  position: absolute;
  right: 0;
  padding: 5px 0;
  color: #fff;
  font-size: 45px;
  margin-right: 10px;
  line-height: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 1;
}

.shg-lightbox .shg-lightbox-image-container {
  padding: 25px;
}

.shg-lightbox .shg-lightbox-image {
  margin: auto;
  max-height: 90vh;
  max-width: 100%;
}

.shg-lightbox .shg-lightbox-close:hover,
.shg-lightbox .shg-lightbox-close:focus {
  color: #a2a2a2;
  text-decoration: none;
  cursor: pointer;
}

.shg-lightbox .shg-lightbox-nav {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 35px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(0%, -50%);
  z-index: 1;
}

.shg-lightbox .shg-lightbox-nav.hidden {
  display: none !important;
}

.shg-lightbox .shg-lightbox-nav.shg-nav-left {
  left: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSIxNzkyIiBoZWlnaHQ9IjE3OTIiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0id2hpdGUiPjxwYXRoIGQ9Ik0xMjAzIDU0NHEwIDEzLTEwIDIzbC0zOTMgMzkzIDM5MyAzOTNxMTAgMTAgMTAgMjN0LTEwIDIzbC01MCA1MHEtMTAgMTAtMjMgMTB0LTIzLTEwbC00NjYtNDY2cS0xMC0xMC0xMC0yM3QxMC0yM2w0NjYtNDY2cTEwLTEwIDIzLTEwdDIzIDEwbDUwIDUwcTEwIDEwIDEwIDIzeiIvPjwvc3ZnPg==);
}

.shg-lightbox .shg-lightbox-nav.shg-nav-right {
  right: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSIxNzkyIiBoZWlnaHQ9IjE3OTIiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0id2hpdGUiPjxwYXRoIGQ9Ik0xMTcxIDk2MHEwIDEzLTEwIDIzbC00NjYgNDY2cS0xMCAxMC0yMyAxMHQtMjMtMTBsLTUwLTUwcS0xMC0xMC0xMC0yM3QxMC0yM2wzOTMtMzkzLTM5My0zOTNxLTEwLTEwLTEwLTIzdDEwLTIzbDUwLTUwcTEwLTEwIDIzLTEwdDIzIDEwbDQ2NiA0NjZxMTAgMTAgMTAgMjN6Ii8+PC9zdmc+);
}

@media screen and (min-width: 769px) {
  .shg-lightbox .shg-lightbox-image-container {
    padding: 50px;
  }
}

.shogun-lazyload:not([src]),
.shogun-lazyloading:not([src]) {
	opacity: 0;
}
.shogun-lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}
